<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
    
    # Redirection HTTPS (décommenter en production)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Sécurité
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "(composer\.json|composer\.lock|Dockerfile)$">
    Require all denied
</FilesMatch>

# Cache
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
</IfModule>